body {
  font-family: Arial, sans-serif;
  background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('../images/medicine-blue-background-flat-lay-copy.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
  text-align: center;
}


h1 {
  margin-top: 20px;
  font-size: 35px;
  text-shadow: 2px 2px 5px black;
}

/* Profile Section */
#profile {
  margin-top: 20px;
}

#profilePic {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid white;
  object-fit: cover;
}

#playerName {
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
}

/* Game Buttons */
.buttons {
  margin-top: 30px;
}

button {
  background: #00c8ff;
  border: none;
  padding: 12px 25px;
  margin: 10px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #0088cc;
}

/* Output text */
#choices, #result, #coins {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
}

#result {
  font-size: 26px;
  margin-top: 15px;
}
#logoutBtn {
  margin-top: 10px;
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#logoutBtn:hover {
  background: #cc0000;
}

